<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= link_to @trip.name, trip_path(@trip) %></h1>
  </div>
  <h3 class="brand-orange-light">friends</h3>
  <div class="container">
      <form action="/users/<%= @user.id %>/find">
        <input type="text" name="email" placeholder="Email address">
        <input class="btn" type="submit" value="Invite Friend">
      </form>
  </div>
  <div class="container">
    <div class="transitions-enabled" id="pins">
    <% @user.friends.each do |friend| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <form  method="post" action="/trips/<%= @trip.id %>/friends">
            <input type="hidden" name="friend" value="<%= friend.id %>">
            <input id="friends" type="submit" value="<%= friend.first_name %>">
          </form>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>





