<div class="container">
<body>
  <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
        width: 400px;
      }
    </style>
  <div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><h1>Accommodations: <%= link_to @trip.name, trip_path(@trip) %></h1>
  </div>
  <div>
    <div class="container" id="map"></div>
    <div class="trip-data" id="<%= @trip.id %>"></div>

    <script>
      var tripId = $(".trip-data").attr("id");
      var latitude=35;
      var longitude=-97;
      var name;
      var map;
      var locationData;
      var secret_key;
      const URL = "http://localhost:3000/trips/" + tripId
      $(document).ready(function () {
        getData();
      });

      // Call google maps
      function initMap() {
        var myLatLng = {lat: latitude, lng: longitude};

        // display map
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 13
        });

        // add marker
        for (var i=0; i<locationData.length; i++) {
          console.log(i);
          var curData=locationData[i];
          var curCoordinates = curData["coordinates"];
          var curName = curData["name"];
          var curLatitude = curCoordinates[0];
          var curLongitude = curCoordinates[1];
          var curLatLng = {lat: curLatitude, lng: curLongitude};
          var marker = new google.maps.Marker({
            position: curLatLng,
            map: map,
            title: curName
          });
        }
      }

      // Get location data from server
      function getData() {
        $.ajax({
          url: URL + "/location_json",
          dataType: 'json',
          success: function(data) {
            console.log(data);
            locationData=data;
            trip_data=locationData[0];
            coordinates = trip_data["coordinates"];
            name = trip_data["name"];
            latitude = coordinates[0];
            longitude = coordinates[1];
            initMap();

          }.bind(this),      // makes sure 'this' continues to be the correct object inside the callback
          error: function(xhr, status, err) {
            console.error(URL, status, err.toString());
          }.bind(this)
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap"
    async defer></script>
    <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @accommodations.each do |accommodation| %>
      <div class="box panel panel-default">
        <div class="panel-body">
         <h4><%= link_to (accommodation.location.name), trip_accommodation_path(@trip,accommodation) %></h4>
          <span class="description"><%= accommodation.creator.first_name %></span>
         </div>
       </div>
        <% end %>
        <div class="box panel panel-default">
          <div class="panel-body">
            <h4><a href="/trips/<%=@trip.id%>/accommodations/new"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> add an accommodation</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</div>
