<div class="container">
  <div class="jumbotron">
    <h1><%= @trip.name %></h1>
  </div>
  <div>
    <h3>trip overview</h3>
    dates: <%=short_date(@trip.start_date)%> - <%=short_date(@trip.end_date)%><br>
    location: <%=@trip.location.name%><br>
    <a href="/trips/<%= @trip.id %>/edit">Edit</a>
  </div>
  <div>
    <h3>trip description</h3>
    <%=@trip.description%>
  </div>
  <h3>attendees</h3>
  <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @trip.users.each do |user| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/users/<%=user.id%>/trips/<%=@trip.id%>"><%=user.first_name%></a></h4>
        </div>
      </div>
      <% end %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <% if @trip.creator_id == @user.id %>
          <h4><a href="fill-in-this-url"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> invite a friend</a></h4>
          <% end %>
          <% if !@trip.users.include?(@user) %>
          <h4><a href="/trips/<%=@trip.id%>/join"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> join this trip</a></h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <table>`
      <tr>
        <td><a href="fill-in-this-url">Timeline</a></td>
        <td>who's arriving when?<br>Add your travel information</td>
      </tr>
      <tr>
        <td><a href="fill-in-this-url">Map</a></td>
        <td>where's everyone staying?</td>
      </tr>
      <tr>
        <td><a href="/trips/<%=@trip.id%>/events">Events</a></td>
        <td>what's going on?</td>
      </tr>

    </table>
  </div>
</div>
