<div class="container">
  <div class="jumbotron">
    <h1><%= @trip.name %></h1>
  </div>
  <div>
    <h3>trip overview</h3>
    <span class="description">dates: <%=short_date(@trip.start_date)%> - <%=short_date(@trip.end_date)%></span><br>
    <span class="description">location: <%=@trip.location.name%></span><br>
    <a href="/trips/<%= @trip.id %>/edit">Edit</a>
  </div>
  <div>
    <h3>trip description</h3>
    <p class="description"><%=@trip.description%></p>
  </div>
  <h3>attendees</h3>
  <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @trip.users.each do |user| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/users/<%=user.id%>/trips/<%=@trip.id%>"><%=user.first_name%></a></h4>
        </div>
      </div>
      <% end %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <% if @trip.creator_id == @user.id %>
          <h4><a href="/trips/<%=@trip.id%>/friends"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> invite a friend</a></h4>
          <% end %>
          <% if !@trip.users.include?(@user) %>
          <h4><a href="/trips/<%=@trip.id%>/join"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> join this trip</a></h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="spacer"></div>
  <div id="pins">
    <div class="box panel panel-default">
      <h4><a href="#">Timeline</a></h4>
      <p class="description">When does everyone arrive?  Or enter your own travel details</p>
    </div>
    <div class="box panel panel-default">
      <h4><a href="#">Map</a></h4>
      <p class="description">Where is everyone staying? Or enter your own accommodations</p>
    </div>
    <div class="box panel panel-default">
      <h4><a href="#">Events</a></h4>
      <p class="description">What else is happening during the trip?  Or create a new event</p>
    </div>
  </div>
</div>
