<h1><%= @trip.name %></h1>
<p><%=@trip.description%></p>
<p>Location:  <%=@trip.location%></p>
<p>Start date:  <%=pretty_date(@trip.start_date)%></p>
<p>End date:  <%=pretty_date(@trip.end_date)%></p>
