<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= link_to @trip.name, trip_path(@trip) %></h1>
  </div>
  <div>
    <h3 class="brand-orange-light">trip overview</h3>
    <span class="description">dates: <%=short_date(@trip.start_date)%> - <%=short_date(@trip.end_date)%></span><br>
    <% if @trip.creator_id == @user.id %>
    <span class="description">location: <%=@trip.location.city%>, <%=@trip.location.state%></span><br>
    <a href="/trips/<%= @trip.id %>/edit">Edit</a>
    <% end %>
  </div>
  <div>
    <h3 class="brand-orange-light">trip description</h3>
    <p class="description"><%=@trip.description%></p>
  </div>
  <h3 class="brand-orange-light">attendees</h3>
  <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @trip.users.each do |user| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><%= link_to user.first_name + ' ' + user.last_name, trip_user_path(@trip, user)%></h4>
        </div>
      </div>
      <% end %>

      <% if @trip.creator_id == @user.id %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/trips/<%=@trip.id%>/friends"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> invite a friend</a></h4>
        </div>
      </div>
      <% end %>

      <% if !@trip.users.include?(@user) %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/trips/<%=@trip.id%>/join"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> join this trip</a></h4>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <div id="spacer"></div>
  <div id="pins">
    <h3 class="brand-orange-light">at a glance</h3>
    <div class="box panel panel-default">
      <h4><%= link_to 'My Details', trip_user_path(@trip, current_user)%></h4>
      <p class="description"></p>
    </div>
    <div class="box panel panel-default">
      <h4><a href="/trips/<%=@trip.id%>/timeline">Timeline</a></h4>
      <p class="description">When does everyone arrive?</p>
    </div>
    <div class="box panel panel-default">
      <h4><a href="/trips/<%=@trip.id%>/map">Map</a></h4>
      <p class="description">Where is everyone staying?</p>
    </div>
    <div class="box panel panel-default">
      <h4><%= link_to 'Events', trip_events_path(@trip) %></h4>
      <p class="description">What else is happening during the trip?  Or create a new event</p>
    </div>
  </div>
</div>
