<div class="container">
  <div class="rows">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="brand-light-blue">Log in</h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>

          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>

          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn " %>
          </div>

        <% end %>

        <p><%= render "users/shared/links" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
