<h1>Accommodations</h1>
<h2>Trip: <%= @trip.name %></h2>

<% @accommodations.each do |accommodation| %>
  <div class="accommodation">
    <h3><%= accommodation.creator.first_name %></h3>
    <p><%= accommodation.location.street_address_1 %><p>
    <p><%= accommodation.location.street_address_2 %></p>
    <p><%= accommodation.location.city %>, <%= accommodation.location.state %> <%= accommodation.location.zipcode %></p>
  </div>
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.0077519, lng: -97.092877},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV5mHEXYZcDTdE7fralTv_0lRnwlSyhF4&callback=initMap"
    async defer></script>
  </body>
</html>


