<h1>Accommodations</h1>
<h2>Trip: <%= @trip.name %></h2>

<% @accommodations.each do |accommodation| %>
  <div class="accommodation">
    <h3><%= accommodation.creator.first_name %></h3>
    <p><%= accommodation.location.street_address_1 %><p>
    <p><%= accommodation.location.street_address_2 %></p>
    <p><%= accommodation.location.city %>, <%= accommodation.location.state %> <%= accommodation.location.zipcode %></p>
  </div>
<% end %>
