<div class="container">
  <div id="mytrips" class="jumbotron">
    <% if attending?(current_user)  %>
      <h2 class="brand-orange">Your accommodation:</h2>
      <h1 class="brand-yellow"><%= @location.name %></h1>
    <% else %>
      <h1 class="brand-yellow"><%= @location.name %></h1>
    <% end %>
  </div>

  <div>
    <h3 class="brand-orange-light">trip name</h3>
    <p class="description"><%= link_to @trip.name, trip_path(@trip) %></p>
  </div>

  <div>
  <h3 class="brand-orange-light">reservation details</h3>

  <span class="description">
    <%= @location.name %><br>
    check in: <%= pretty_date(@accommodation.check_in) %><br>
    checkout: <%= pretty_date(@accommodation.check_out) %><br><br>
    <%= @location.street_address_1 %> <%= @location.street_address_2 %><br>
    <%= @location.city %>, <%= @location.state %> <%= @location.zipcode %><br>
  </span>
  </div>
  <div>
    <br>
    <% if current_user %>
      <% if @accommodation.creator_id == current_user.id %>
        <button class="btn"><%= link_to "Edit", edit_trip_accommodation_path(@trip,@accommodation) %></button>
    <!-- add Delete button later -->
      <% end %>
    <% end %>
  </div>
  <div>
    <h3 class="brand-orange-light">attendees</h3>
    <div class="container">
      <div>
        <% if attending?(current_user) == false %>
          <button class="btn"><%= link_to "+ join", trip_accommodation_path(@trip,@accommodation), method: :patch %></button>
        <% end %>
      </div>
      <div class="transitions-enabled" id="pins">
        <% if @accommodation.users.length > 0 %>
          <% @accommodation.users.each do |attendee| %>
            <div class="box panel panel-default">
              <div class="panel-body">
                <h4> <%= attendee.first_name %> <%= attendee.last_name %></h4>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <button class="btn"><%= link_to "Back: All Accommodations", trip_accommodations_path(@trip) %></button>
    </div>
  </div>
</div>



