<h1>Transit</h1>

<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<h2>How are you getting there?</h2>
<%= form_for [@trip, @transit] do |f| %>
<div>
	<%= f.radio_button(:transit_type, "Airplane") %>
	<%= f.label(:transit_type_airplane, "Airplane") %><br>
	<%= f.radio_button(:transit_type, "Bus") %>
	<%= f.label(:transit_type_bus, "Bus") %><br>
	<%= f.radio_button(:transit_type, "Car") %>
	<%= f.label(:transit_type_car, "Car") %><br>
	<%= f.radio_button(:transit_type, "Train") %>
	<%= f.label(:transit_type_train, "Train") %><br>
	<%= f.radio_button(:transit_type, "Boat") %>
	<%= f.label(:transit_type_boat, "Boat") %><br>
	<%= f.radio_button(:transit_type, "Other") %>
	<%= f.label(:transit_type_other, "Other") %>
	<%= text_area(:message, "Anything else?", size: "24x6") %>
	<div>
	  <%= f.submit "Add Transport" %>
	</div>
<% end %>

</div>




