<div class="container">
  <h1>Transportation</h1>

  <h2><%= link_to @trip.name, trip_path(@trip) %></h2>

   <div class="transit">
      <p><%= @transit.transit_type %><br />
      <%= pretty_date(@transit.start_time) %><br />
      <%= pretty_date(@transit.end_time) %><br />
      <%= link_to 'Edit' %> | <%= link_to 'Delete' %></p>
    </div>
</div>

