<div class="container">
  <div class="rows">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="brand-light-blue">Event details</h2>
        <h3 class="brand-orange-light">revise your event details</h3>
      </div>

      <div class="panel-body">
        <% if @errors %>
          <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
          </ul>
        <% end %>

        <%= form_for(@event, url: trip_event_path(@trip)) do |f| %>
        <div class="form-inputs">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :description %> <br>
            <%= f.text_area(:description, cols: 40) %>
          </div>
          <div class="form-group">
            <%= f.label :start_time %>
            <%= f.datetime_local_field :start_time %>
            <%= f.label :end_time %>
            <%= f.datetime_local_field :end_time %>
          </div>

          <div class="form-group">
            <div>Location:</div>
            <%= render partial: "locations/edit", locals: {current_location: @event.location} %>
          </div>
          <div class="actions">
            <%= f.submit "Submit changes" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
