<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= link_to @trip.name, trip_path(@trip) %></h1>
    <h2 class="brand-orange">events</h2>
  </div>

  <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @trip.events.each do |event| %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/trips/<%=@trip.id%>/events/<%=event.id%>"><%= event.name %></a></h4>
        </div>
      </div>
      <% end %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/trips/<%=@trip.id%>/events/new"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> add an event</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
