<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= link_to @trip.name, trip_path(@trip) %></h1>
    <h2 class="brand-orange"><%= link_to @event.name, event_path(@event) %></h2>
  </div>
  <div>
    <h3 class="brand-orange-light">event overview</h3>
    <span class="description"><%=short_date(@event.start_time)%> starting at  <%=short_time(@event.start_time)%> until <%=short_time(@event.end_time)%><br>
    <%=@event.location.name%><br></span>
    <% if @event.creator_id == current_user.id %>
    <a href="/trips/<%= @trip.id %>/events/<%= @event.id %>/edit">Edit</a>
    <% end %>
  </div>
  <div>
    <h3 class="brand-orange-light">trip description</h3>
    <p class="description"><%=@event.description%></p>
  </div>

  <h3 class="brand-orange-light">attendees</h3>
  <div class="container">
    <div class="transitions-enabled" id="pins">
      <% @event.users.each do |user| %>
        <div class="box panel panel-default">
          <div class="panel-body">
            <h4><a href="/users/<%=user.id%>/trips/<%=@trip.id%>"><%=user.first_name%></a></h4>
          </div>
        </div>
      <% end %>
      <% if @event.creator_id == current_user.id %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="#"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> invite a friend</a></h4>
        </div>
      </div>
      <% end %>
      <% if !@event.users.include?(current_user) %>
      <div class="box panel panel-default">
        <div class="panel-body">
          <h4><a href="/trips/<%= @trip.id %>/events/<%= @event.id %>/join"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> join this event</a></h4>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


