<div class="container">
  <div id="mytrips" class="jumbotron">
    <h1 class="brand-yellow"><%= @user.first_name %>'s Friends</h1>
  </div>

<form method="post" action="/users/<%= @user.id %>/friendships">
  <p><%= @friend.first_name %> <%= @friend.last_name %> is already a member.  Would you like to add this person as a friend?<p>
  <input type="hidden" name="friend" value="<%= @friend.id %>">
  <input class="btn" type="submit" value="Add Friend">
</form>
