<!DOCTYPE html>
<html>
  <head>
    <title>TieIn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- basic nav bar with Devise paths -->
  <ul>
  <% if user_signed_in? %>
          <li>
            Logged in as <strong><%= current_user.email %></strong>.
          </li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          </li>
      <% else %>
          <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
